<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Main page{% endblock %}</title>

    {% block head %}
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/jquery-ui.min.css" rel="stylesheet">
    <link href="stylesheets/main.css" rel="stylesheet">
    {% endblock %}

  </head>
  <body>
    <div id="mountPoint"></div>
    {% block scripts %}
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="javascripts/jquery-2.2.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="javascripts/jquery-ui.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="javascripts/bundle.js" charset="utf-8"></script>
    {% endblock %}
  {% block content %}{% endblock %}
  </body>
</html>
