@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
  font-family: Helvetica, Verdana, sans-serif;
}

.list-element {
  color: #000;
  width: 100%;
  line-height: 3rem;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;

  &:hover {
    font-size: 30px;
    background: #f6f6f6;
    cursor: pointer;
  }
}


.list-container {
  background-color: #ccc;
  height: 70rem;
  overflow: scroll;
  overflow-x: hidden;
}

.button-container {
  button {
    margin: .5rem;
  }
}
